$('#new_tweet').remove();
$('#new_tweet_link').show();
$('#tweets').prepend('<p><%= j @tweet.body %></p>');
$('#flash').html('<%= j flash[:notice] %>');
// #flash targets the div surrounding the notices, and the erb
// renders the notice laid out in the controller
