<%= render 'shared/header', title: "Two Tone Twitter" %>

<% if @tweets.any? %>

  <h3>All Tweets</h3>

  <%= render @tweets.reverse %>

<% else %>

  <h3>No tweets exist yet. Become the first user to tweet!</h3>

<% end %>
