<%= render 'shared/header', title: "Two Tone Twitter" %>

<% if @tweets.any? %>
  <h3>All Tweets</h3>

  <ul>
    <%= @tweets.each do |tweet| %>
      <li><h5><%= link_to tweet.user_id.username, user_path(@user) %></h5><p><%= tweet.body %></p></li>
    <% end %>
  </ul>

<% else %>

  <h3>No tweets exist yet. Become the first user to tweet!</h3>

<% end %>
